<div class="good-detail">
    <div class="main-title">Камінокомплект Оттава</div>
        <div class="card">
            <div class="picture-box">
                <div class="picture"><img src="img/goodpicture1.png" alt=""></div>
                <div class="pictures-slider">
                    <div class="item"><img src="img/goodpicture1slider.png" alt=""></div>
                    <div class="item"><img src="img/goodpicture1slider.png" alt=""></div>
                    <div class="item"><img src="img/goodpicture1slider.png" alt=""></div>
                    <div class="item"><img src="img/goodpicture1slider.png" alt=""></div>
                    <div class="item"><img src="img/goodpicture1slider.png" alt=""></div>
                    <div class="item"><img src="img/goodpicture1slider.png" alt=""></div>
                    <div class="item"><img src="img/goodpicture1slider.png" alt=""></div>
                    <div class="item"><img src="img/goodpicture1slider.png" alt=""></div>
                </div>
            </div>
            <div class="pay-box">
                <div class="availability">В наявності</div>
                <div class="new-price">14 277.45 грн.шт</div>
                <div class="old-price">16 797.00 грн.шт</div>
                <div class="btn-buy">Придбати</div>
                <div class="credit-box">
                    <input type="text" placeholder="Від 100 грн"><input type="text" placeholder="Обрати кредит">
                </div>

                <div class="one-click-buy-title">придбати в один клік</div>
                <div class="one-click-buy-box">
                    <input type="tel" placeholder="+38093...">
                    <a href="#" class="btn">придбати</a>
                </div>
            </div>
            <div class="third-column">
                <div class="stars-feedback-box">
                <div class="stars-box">
                    <div class="star-icon"></div>
                    <div class="star-icon"></div>
                    <div class="star-icon"></div>
                    <div class="star-icon"></div>
                    <div class="star-icon"></div>
                </div>
                <a href="#" class="leave-feedback">Залишит відгук</a>
                </div>
                <div class="delivery-box">
                    <div class="item">
                        <div class="name"><span>Доставка</span></div>
                        <div class="city value">
                            <select name="city-select" id="city-select">
                                <option value="KYIV">Київ</option>
                                <option value="KHARKOV">Харков</option>
                                <option value="DNIPRO">Дніпро</option>
                                <option value="LVIV">Львів</option>
                                <option value="RIVNO">Рівне</option>
                            </select></div>
                    </div>
                    <div class="item">
                        <div class="name"><span>Кур'єр</span></div>
                        <div class="value">Ціна</div>
                    </div>
                    <div class="item">
                        <div class="name"><span>Кур'єром</span></div>
                        <div class="value">Ціна</div>
                    </div>
                    <div class="item">
                        <div class="name"><span class="name-underline">В магазині Нова Лінія</span></div>
                        <div class="value">Ціна</div>
                    </div>
                    <div class="item">
                        <div class="name"><span class="name-underline">Нова Пошта</span></div>
                        <div class="value">Ціна</div>
                    </div>
                </div>
                <div class="return-guarantee-box">
                    <div class="icon return-icon"></div>
                    <div class="text">Повернення-обмін <br>
                        до 14 днів
                    </div>
                </div>
                <div class="return-guarantee-box">
                    <div class="icon guarantee-icon"></div>
                    <div class="text">Гарантія <br>
                        12міс
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="tab">
                <button class="tablinks active" onclick="openCity(event, 'description')">Опис</button>
                <button class="tablinks" onclick="openCity(event, 'characteristic')">Характеристики</button>
                <button class="tablinks" onclick="openCity(event, 'feedback')">Залишити відгук</button>
                <button class="tablinks" onclick="openCity(event, 'question')">Задати запитання</button>
            </div>

            <div id="description" class="tabcontent">
                <div class="title">Опис Камінокомплект Оттава</div>
                <div><p> Камінокомплект Оттава може бути встановлений в приватному будинку, на дачі або в квартирі. Завдяки своїм компактним габаритам, не займає багато місця в приміщенні. Має дуже реалістичний ефект згоряння дров і полум'я, який можна включати незалежно від функції обігріву. Електрокамін оснащений дистанційним пультом, що спрощує процес управління.</p>
<div>
                    Особливості: <ul>
    <li>яскравість полум'я</li>
    <li>обігрів приміщення</li>
    <li>площа обігріву до 20 м²</li>
    <li>управління на корпусі і з пульта дистанційного керування</li>
    <li>ефект полум'я RealFlame 2D таймер на відключення.</li>
</ul>
</div>Характеристики та комплектація товару можуть змінюватися виробником в залежності від партії.</div>
            </div>

            <div id="characteristic" class="tabcontent">
                <div class="title">Характеристика</div>
                <div>Бренд:	Homestar Розмір, мм:	710x1170x390 Тип каміна:	пристінний Регулювання температури:	термостат / таймер Ефекти полум'я :	ефект горіння дров Керування каміном:	пульт ДК Максимальна потужність, Вт:	1500

                    Детальніше: https://www.nl.ua/ua/pobutova_tehnika/klimatichna_tehnika/elektrokamini/90217421.html</div>
            </div>

            <div id="feedback" class="tabcontent">
                <div class="title">Feedbacks</div>
                <div>Feedbacks</div>
            </div>
            <div id="question" class="tabcontent">
                <div class="title">Ask question</div>
                <div>Ask question</div>
            </div>
        </div>
</div>